{% load static %}
<section id="testimonial" class="testimonial section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                               {%comment%} <img src="{% static 'img/testimonial/img1.jpg' %}" alt=""> {% endcomment %}
                            </div>
                            <div class="info">
                                <h2><a href="#">David Braga</a></h2>
                            </div>
                            <div class="content">
                                <p class="description">"Excelente o atendimento da Jupitersoft, desde o primeiro contato até a efetivação da minha compra. Com certeza será minha referência para futuras cotações/aquisições de software."</p>
                                <div class="star-icon mt-3">
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-half"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                {%comment%} <img src="{% static 'img/testimonial/img2.jpg' %}" alt=""> {% endcomment %}
                            </div>
                            <div class="info">
                                <h2><a href="#">Paula Domenaggi</a></h2>
                            </div>
                            <div class="content">
                                <p class="description">"Gostaria de parabenizar a empresa pela agilidade, competência e comprometimento com os interesses dos clientes. Gostei muito do resultado final. Um abraço."</p>
                                <div class="star-icon mt-3">
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                {%comment%} <img src="{% static 'img/testimonial/img3.jpg' %}" alt=""> {% endcomment %}
                            </div>
                            <div class="info">
                                <h2><a href="#">Pedro Avilla</a></h2>
                            </div>
                            <div class="content">
                                <p class="description">"Foi uma aquisição importantíssima para a gráfica. O processo de compra com a Jupiter foi muito rápido! O site é bonito e interativo, os clientes adoraram". </p>
                                <div class="star-icon mt-3">
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-half"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>